<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="totalcontributiontab"
        data-bs-toggle="pill"
        data-bs-target="#totalcontribution"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="true"
      >
        Total Contribution Account Statement
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="commoditytradingtab"
        data-bs-toggle="pill"
        data-bs-target="#commoditytrading"
        type="button"
        role="tab"
        aria-controls="pills-home"
        aria-selected="false"
      >
        Commodity Trading Statement
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="finetab"
        data-bs-toggle="pill"
        data-bs-target="#fine"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Fine Statement
      </button>
    </li>
  
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="loantab"
        data-bs-toggle="pill"
        data-bs-target="#loan"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Loan Statement
      </button>
    </li>
  
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="projectfinancingtab"
        data-bs-toggle="pill"
        data-bs-target="#projectfinancing"
        type="button"
        role="tab"
        aria-controls="pills-profile"
        aria-selected="false"
      >
        Project Financing Statement
      </button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div
      class="tab-pane fade show active"
      id="totalcontribution"
      role="tabpanel"
      aria-labelledby="totalcontributiontab"
    >
      <%-include("../statements/totalcontributionaccountstatement.ejs") -%>
    </div>
    <div
      class="tab-pane fade"
      id="commoditytrading"
      role="tabpanel"
      aria-labelledby="commoditytradingtab"
    >
      <%-include("../statements/commoditytradingstatement.ejs") -%>
    </div>
    <div
      class="tab-pane fade"
      id="fine"
      role="tabpanel"
      aria-labelledby="finetab"
    >
      <%-include("../statements/finestatement.ejs") -%>
    </div>
  
    <div
      class="tab-pane fade"
      id="loan"
      role="tabpanel"
      aria-labelledby="loantab"
    >
      <%-include("../statements/loanstatement.ejs") -%>
    </div>
  
    <div
      class="tab-pane fade"
      id="projectfinancing"
      role="tabpanel"
      aria-labelledby="projectfinancingtab"
    >
      <%-include("../statements/projectfinancingstatement.ejs") -%>
    </div>
  </div>
  