<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <h2>Commodity Trading Account Statement</h2>
    </div>
  </div>
</div>

<form action="" method="post">
  <div class="container">
    <table
      id="commodityTradingTable"
      class="display blueTable"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>S/N</th>
          <th>Date</th>
          <th>Narration</th>
          <th>Debit</th>
          <th>Credit</th>
          <th>Commodity Trading Account Balance</th>
          <th>Update</th>
        </tr>
      </thead>

      <tbody>
        <%commodityTradingKeys %> <%let x = 1 %> <% for (const key in
        commoditytradingstatement) { %>
        <%if(commoditytradingstatement[key].transactiontype == "credit"){%>
        <tr>
          <td><%=x%></td>
          <td><%=commoditytradingstatement[key].date%></td>
          <td><%=commoditytradingstatement[key].narration%></td>
          <td>0</td>
          <td><%=commoditytradingstatement[key].amount%></td>
          <td><%=commoditytradingstatement[key].balance%></td>
          <td>
            <button
              name="updatebutton"
              value="<%-commodityTradingKeys[key]%> <%-username %>"
            >
              Update
            </button>
          </td>
        </tr>

        <%}else{%>

        <tr>
          <td><%=x%></td>
          <td><%=commoditytradingstatement[key].date%></td>
          <td><%=commoditytradingstatement[key].narration%></td>
          <td><%=commoditytradingstatement[key].amount%></td>
          <td>0</td>
          <td><%=commoditytradingstatement[key].balance%></td>
          <td>
            <button
              name="updatebutton"
              value="<%-commodityTradingKeys[key]%> <%-username %>"
            >
              Update
            </button>
          </td>
        </tr>

        <%}%> <%x++%> <%}%>
      </tbody>
    </table>
  </div>
</form>
